<!-- Hospital SHOW: /:id -->
<h1><%= @hospital.name %></h1>

<h2><%= @hospital.location %></h2>
<p>Infection Rating: <%= @hospital.infection_score %></p>
<p>Patient Experience Rating: <%= @hospital.patientexp_score %></p>
<p>Performance Rating: <%= @hospital.performance_score %></p>
<p>Pneumonia Rating: <%= @hospital.pneumonia_score %></p>
<p>Average User Rating: <%= @user_score_avg %></p>
